*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(24, 163, 24);
}
main{
    width: 500px;
    height: 70vh;
    margin: auto;
    margin-top: 50px;
    background: white;
    border-radius: 15px;
}
.logo{
    width: 100%;
}
img{
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
}
.body{
    width: 100%;
}
h3{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(165, 158, 158);
}
h1{
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
    color: rgb(24, 84, 148);
}
.form{
    width: 100%;
}
input{
    margin-left: 70px;
    padding: 10px;
    margin-top: 20px;
    width: 330px;
    border-radius: 10px;
    border: none;
    background: rgb(207, 199, 199);
}
button{
    width: 350px;
    margin-top: 20px;
    padding: 10px;
    margin-left: 14%;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    background-color: rgb(36, 160, 52);
    color: white;
}
.at{
    display: flex;
    margin-left: 37%;
    margin-top: 20px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(21, 153, 38);
}
ul li{
    list-style: none;
    margin-top: 30px;
    text-align: center;
}
ul li a{
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color: rgb(97, 95, 95);
}